<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <link rel="stylesheet"  th:href="@{/public/styles/standard.css}">
    <link rel="stylesheet"  th:href="@{/public/styles/login.css}">
    <title>Login</title>
</head>
<body>
    <div layout:fragment="content">
        <main>
            <div class="account_manage_display" id="account_manage_display">

                <form action="/public/login/perform-login" method="post">
                    <label for="input_login">Login</label>
                    <input type="text"  class="input_write" id="input_login" name="login">

                    <label for="input_password">Password</label>
                    <input type="password"  class="input_write" id="input_password" name="password">

                    <input class="general_button login_create_button" type="submit" value="Enter">
                </form>

                <p> or </p>

                <a class="general_button login_create_button" th:href="@{/public/userRegister}">Create Account</a>

            </div>
        </main>
    </div>
</body>
</html>