<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <link rel="stylesheet"  th:href="@{styles/userRegister.css}">
    <title>User Register</title>
</head>
<body>
    <div layout:fragment="content">
        <main>
            <form class="user_form" id="user_form" action="/public/userRegister/user-register" method="post" enctype="multipart/form-data">
                <div class="form_title">
                    <h2>User Register</h2>
                </div>

                <div>
                    <div class="label_input_zone">
                        <label for="name_input">Name</label>
                        <input class="input_write" id="name_input" name="user_name" required>
                    </div>

                    <div class="label_input_zone">
                        <label for="email_input">E-mail</label>
                        <input class="input_write" id="email_input" name="user_login" required>
                    </div>

                    <div class="label_input_zone">
                        <label for="password_input">Password</label>
                        <input class="input_write" id="password_input" name="user_password" required>
                    </div>

                    <div class="label_input_zone">
                        <label for="conf_password_input">Confirm Password</label>
                        <input class="input_write" id="conf_password_input" required>
                    </div>

                    <div class="label_input_zone">
                        <label for="address_input">Address</label>
                        <input class="input_write" id="address_input" name="user_address" required>
                    </div>

                    <div class="label_input_zone">
                        <label for="country_input">Country</label>
                        <input class="input_write" id="country_input" name="user_country" required>
                    </div>

                    <div class="label_input_zone">
                        <label for="city_input">City</label>
                        <input class="input_write" id="city_input" name="user_city" required>
                    </div>

                    <div class="label_input_zone">
                        <label for="birthday_input">Birthday</label>
                        <input type="date" class="input_write" id="birthday_input" name="user_birthday" required>
                    </div>

                    <div class="label_input_zone">
                        <label for="profession_input">Profession</label>
                        <input class="input_write" id="profession_input" name="user_profession" required>
                    </div>

                    <div class="label_input_zone">
                        <label for="level_schooling_input">Level Schooling</label>
                        <select class="input_write" name="user_level_schooling" id="level_schooling_input" required>
                            <option value="child_education">Other</option>
                            <option value="child_education">Child Education</option>
                            <option value="elementary">Elementary</option>
                            <option value="elementary_incomplete">Elementary Incomplete</option>
                            <option value="middle">Middle</option>
                            <option value="middle_incomplete">Middle Incomplete</option>
                            <option value="graduation">Graduation</option>
                            <option value="incomplete_graduation">Incomplete Graduation</option>
                            <option value="postgraduate">Postgraduate</option>
                            <option value="master_degree">Master's degree</option>
                            <option value="doctorate_degree">Doctorate degree</option>
                        </select>
                    </div>

                    <div class="label_input_zone">
                        <label for="gender_input">Gender</label>
                        <input class="input_write" id="gender_input" name="user_gender" required>
                    </div>

                    <div class="label_input_zone">
                        <label for="race_input">Race</label>
                        <input class="input_write" id="race_input" name="user_race" required>
                    </div>

                    <!--
                    <div class="label_input_zone">
                        <label for="image_input">Profile Picture</label>
                        <input class="input_image" type="file" id="image_input" name="user_image" accept="image/*">
                    </div>
                    -->
                </div>

                <div class="submit_button_zone">
                    <input class="general_button" type="submit" value="Register">
                </div>

            </form>
        </main>

        <script type="text/javascript" th:src="@{js/userRegister.js}"></script>
    </div>
</body>
</html>